[Unit]
After=network-online.target
Description=doriancoindaemon
Documentation=https://github.com/doriancoin/doriancoin/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=doriancoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/doriancoind \
  -conf=/etc/doriancoin/doriancoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp doriancoin /etc/doriancoin
Group=doriancoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=doriancoin
RuntimeDirectoryMode=0710
StateDirectory=doriancoin
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=doriancoin

[Install]
WantedBy=multi-user.target
